/* Calendar background color */
.holidayDates .ui-state-default
{
    /*color: #0000F0;*/
    background-color: #777;
}

.greenDates .ui-state-default
{
    /*color: darkgreen;*/
    background-color: #5cb85c;
}

.orangeDates .ui-state-default
{
    /*color: darkorange;*/
    background-color: #f0ad4e;
}

.redDates .ui-state-default
{
    /*color: red;*/
    background-color: #d9534f;
}

/* Calendar UI */
.ui-datepicker{
    border-radius:0px;
    border:none;

}
.ui-datepicker .ui-datepicker-header{
    border-radius:0px;
    border:none;
    background-color: rgba(161, 197, 24, 0.5);
}
.ui-datepicker-month{
    border-left:none;
    border-top:none;
    border-bottom:none;
    border-right:1px solid #5F6876;
}
.ui-datepicker-year{
    border:none;
}
.ui-state-default{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border:none;
}
.ui-state-default:hover{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}
