/* Login main css begin */
.row-log{
    margin-left:10%;
    margin-right:10%;
    width:80%;
}
@media (max-width:1350px){.row-log{
    width:100%;
    margin-left:0;
    margin-right:0;
}}
.panel-body-log{
    background-color:#EFEFEF;
}
.col-md-8-log{
    width:100%;
}
/*Headliner*/
.panel-log>.panel-heading{
    background-color:rgba(161, 197, 24, 0.5);
    color:#5F6876;
    font-weight:500;
    border:none;
}
.panel-log{
    border:none;
}
/*Inputs*/
.form-control-log{
    border:none;
    border-radius:0px;
}
/*Button*/
.btn-log{
    border-radius:0px;
    background-color:#A2C617;
    border:none;
    font-weight:normal;
    color:#fff;
    font-size:16px;
}
.btn-log:hover, .btn-log:focus:active, .btn-log:focus, .btn-log:active{
    color:#5F6876;
    background-color:#A2C617;
}
.div-btn-log a{
    color:#A2C617;
}
.div-btn-log a:hover, .div-btn-log a:focus:active, .div-btn-log a:focus, .div-btn-log a:active{
    color:#A2C617;
    text-decoration:underline;
}
/*Checkboxen*/
.check-log{
    height:17px;
    width:17px;
}
/* Login main css end */